/**
 * eadmin / www.eadmin.net
 * 
 * 通用样式文件
 */
/**
 * eadmin / www.eadmin.com.cn
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
@font-face {
  font-family: "num";
  src: url(../font/num.ttf);
}
/**
 * ================= 重置 ==================
 */
body {
  background: #0C112A;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #FFF;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  transition: color 0.2s linear;
  color: #FFF;
  text-decoration: none;
}
a:hover {
  transition: color 0.2s linear;
  color: #d9d9d9;
}
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
  text-align: initial;
}
td {
  padding: 0;
}
i {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-size: 16px;
}
@-moz-document url-prefix() {
  i {
    vertical-align: middle;
  }
}
/**
 * ================= 顶部导航栏 ==================
 */
header {
  width: 100%;
}
header .main-nav {
  height: 50px;
  display: flex;
}
header .main-nav > div {
  height: 50px;
  line-height: 50px;
  padding: 0;
}
header .main-nav > div:first-child {
  text-align: center;
}
header .main-nav .logo {
  font-size: 24px;
  font-weight: bold;
}
header .main-nav .nav a {
  float: left;
}
header .main-nav .nav a li {
  padding: 0 15px;
}
header .main-nav .member {
  text-align: center;
}
header .main-nav .member img {
  border-radius: 100%;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 0;
  border: 2px #0084FF solid;
}
header .main-nav .member i {
  margin-right: 0;
  margin-left: 5px;
}
header .main-nav > .nav-slider {
  border-radius: 50px;
  background: -moz-linear-gradient(left, #66b5ff, #0084FF);
  background: -webkit-linear-gradient(left, #66b5ff, #0084FF);
  background: -o-linear-gradient(left, #66b5ff, #0084FF);
  position: absolute;
  top: 0;
  width: 50px;
  height: 4px;
  display: none;
}
header .sub-nav {
  margin-top: 5px;
  height: 30px;
  display: flex;
}
header .sub-nav > div {
  height: 30px;
  line-height: 30px;
  padding: 0;
}
header .sub-nav li {
  font-size: 12px;
  float: left;
  text-align: center;
  padding: 0 15px;
  margin-right: 10px;
}
header .sub-nav .active li {
  border-radius: 50px;
  background: -moz-linear-gradient(left, #66b5ff, #0084FF);
  background: -webkit-linear-gradient(left, #66b5ff, #0084FF);
  background: -o-linear-gradient(left, #66b5ff, #0084FF);
}
header .sub-nav .active:hover {
  color: #FFF;
}
/**
 * ================= 旋转 ==================
 */
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: load 1s cubic-bezier(0.1, 0.1, 0.1, 0.1) infinite;
  -webkit-animation: load 1s cubic-bezier(0.1, 0.1, 0.1, 0.1) infinite;
}
.rotate-0 {
  transform-origin: center center;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
.rotate-180 {
  transform-origin: center center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
/**
 * ================= 盒子 ==================
 */
#container {
  margin: 0 auto;
  width: 100%;
  padding: 20px 100px;
  position: relative;
}
.block-title {
  padding-left: 14px;
  width: 100%;
  height: 18px;
  margin-bottom: 20px;
  position: relative;
}
.block-title span {
  background: -moz-linear-gradient(top, #66b5ff, #0084FF);
  background: -webkit-linear-gradient(top, #66b5ff, #0084FF);
  background: -o-linear-gradient(top, #66b5ff, #0084FF);
  border-radius: 5px;
  width: 5px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 0;
}
.block-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  cursor: default;
}
.block-box .block {
  border-radius: 5px;
  box-shadow: #060916 0px 0px 20px;
  padding: 20px;
  background: #1A2042;
  position: relative;
}
.block-box .block h1 a,
.block-box .block h2 a,
.block-box .block h3 a,
.block-box .block h4 a,
.block-box .block h5 a,
.block-box .block h6 a,
.block-box .block .block-title a {
  float: right;
  font-size: 12px;
  color: #0084FF;
}
.block-box .block .font-list {
  margin-top: 20px;
  width: 100%;
}
.block-box .block .font-list li {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-box .block .font-list i:not(.status-dot) {
  border-radius: 50px;
  background: -moz-linear-gradient(top, #66b5ff, #0084FF);
  background: -webkit-linear-gradient(top, #66b5ff, #0084FF);
  background: -o-linear-gradient(top, #66b5ff, #0084FF);
  width: 6px;
  height: 6px;
  vertical-align: middle;
}
.block-box .block .font-list td {
  padding: 8px 20px 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-box .block .font-list thead td {
  color: #999;
}
.block-box .block .font-list img {
  border-radius: 5px;
  height: 40px;
  vertical-align: middle;
}
.block-box .block .font-list .table-img-head {
  border-radius: 50px;
  border: 2px #0084FF solid;
  width: 32px;
  height: 32px;
}
.block-box .block .info {
  margin-top: 15px;
  border-top: 1px #171c3b solid;
  overflow: hidden;
  height: 30px;
  line-height: 40px;
}
.block-box .block .info span:first-child {
  float: left;
  font-size: 12px;
  color: #999;
}
.block-box .block .info span:last-child {
  float: right;
}
.block-box .block .info i {
  margin-right: 0;
  margin-left: 6px;
}
.block-box .block .person {
  position: relative;
  text-align: center;
}
.block-box .block .person img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.block-box .block .person h6 {
  margin-bottom: 0;
}
.block-box .block .corner {
  border-radius: 5px 0 0 5px;
  position: absolute;
  height: 24px;
  line-height: 24px;
  top: 8px;
  right: 0;
  padding: 0 6px;
  background-color: #0084FF;
}
.block-box .block .pic {
  position: relative;
}
.block-box .block .pic .corner {
  top: 5px;
}
.block-box .block .pic .icon {
  margin-top: 20px;
  color: #999;
}
.block-box .block .pic .icon span {
  margin-right: 10px;
}
.block-box .block .pic .info {
  height: 35px;
  line-height: 40px;
}
.block-box .block .pic .info img {
  border-radius: 50px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border: 2px #0084FF solid;
  margin-right: 5px;
}
.block-box .block .pic .cover {
  border-radius: 5px;
  width: 100%;
  max-height: 360px;
  margin-bottom: 10px;
}
.block-box .block-data .data {
  margin-top: 25px;
}
.block-box .block-data h5 {
  line-height: 30px;
  margin-bottom: 0;
}
.block-box .block-data .num {
  font-family: num;
  font-size: 28px;
  margin-right: 5px;
}
.block-box .block-data i {
  font-size: 20px;
}
.block-box .block-href {
  transition: background-color 0.2s linear;
  text-align: center;
}
.block-box .block-href:hover {
  transition: background-color 0.2s linear;
  background: #0084FF;
}
.block-box .block-href:hover i {
  transition: color 0.2s linear;
  color: #FFF;
}
.block-box .block-href h5 {
  margin-bottom: 0;
}
.block-box .block-href i {
  transition: color 0.2s linear;
  margin-bottom: 15px;
  margin-right: 0;
  font-size: 24px;
}
.block-box .note {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
.block-box .form-group {
  position: relative;
}
.block-box .form-group > span {
  display: block;
}
.block-box .form-group textarea {
  line-height: 1.5;
}
.block-box .form-group .title {
  font-size: 14px;
  margin-bottom: 10px;
}
.block-box .form-group .error {
  color: #FF1844;
}
.block-box .form-group .font-num {
  bottom: 10px;
  right: 10px;
  position: absolute;
}
.block-box .form-group:not(:last-child) {
  margin-bottom: 20px;
}
.block-box .input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.block-box .input-group input {
  width: 1%;
  flex: 1 1 auto;
}
.block-box .input-group input:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.block-box .input-group input:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.block-box .input-group > span {
  padding: 10px;
  border: 1px #30375B solid;
}
.block-box .input-group .prepend {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.block-box .input-group .append,
.block-box .input-group .num-add-cut {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.block-box .input-group .num-add-cut {
  position: relative;
  padding: 10px 12px;
}
.block-box .input-group .num-add-cut i {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 50%;
  cursor: pointer;
}
.block-box .input-group .num-add-cut .add {
  top: 0;
  border-bottom: 1px #30375B solid;
}
.block-box .input-group .num-add-cut .cut {
  bottom: 0;
  line-height: 1.4;
}
.block-box .input-group .num-add-cut .disabled {
  color: #BBC5D8;
  cursor: not-allowed;
}
.demo-color {
  border-radius: 5px;
  padding: 20px;
}
.dn {
  display: none;
}
/**
 * ================= 标题 ==================
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  line-height: 22px;
}
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
h1 {
  margin-bottom: 20px;
  font-size: 24px;
}
h1 i {
  font-size: 24px;
}
h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
h2 i {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h3 i {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h4 i {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h5 i {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h6 i {
  font-size: 12px;
}
.fs18 {
  font-size: 18px;
}
.va-m {
  vertical-align: middle;
}
.fwb {
  font-weight: bold;
}
/**
 * ================= 遮罩 ==================
 */
.mask {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask i {
  font-size: 18px;
}
/**
 * ================= 边距 ==================
 */
.mt20 {
  margin-top: 20px;
}
/**
 * ================= 滚动条 ==================
 */
.ps {
  overflow: hidden;
  overflow-anchor: none;
  touch-action: auto;
}
.ps__rail-x {
  display: none;
  opacity: 0.4;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 10px;
  bottom: 4px;
  position: absolute;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 4px;
  right: 4px;
  position: absolute;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 0.6;
}
.ps__thumb-x {
  background-color: #4E5675;
  border-radius: 50px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 10px;
  bottom: 0px;
  position: absolute;
}
.ps__thumb-y {
  box-shadow: #060916 0px 0px 20px;
  background-color: #4E5675;
  border-radius: 50px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 4px;
  right: 0px;
  position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #4E5675;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #4E5675;
}
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
/**
 * ================= 颜色 ==================
 */
.color-1 {
  color: #FF1844;
}
.color-2 {
  color: #76FF02;
}
.color-3 {
  color: #FFFF01;
}
.color-4 {
  color: #FF8E01;
}
.color-5 {
  color: #69F0AE;
}
.color-6 {
  color: #E040FC;
}
.color-7 {
  color: #4FC2F8;
}
.color-8 {
  color: #90A4AE;
}
.color-9 {
  color: #2196F3;
}
.color-10 {
  color: #FE5722;
}
.color-11 {
  color: #FFC107;
}
.color-12 {
  color: #FF4181;
}
.color-13 {
  color: #E9EBF0;
}
/**
 * ================= 背景颜色 ==================
 */
.bg-color-1 {
  background-color: #FF1844 !important;
}
.bg-color-2 {
  background-color: #76FF02 !important;
}
.bg-color-3 {
  background-color: #FFFF01 !important;
}
.bg-color-4 {
  background-color: #FF8E01 !important;
}
.bg-color-5 {
  background-color: #69F0AE !important;
}
.bg-color-6 {
  background-color: #E040FC !important;
}
.bg-color-7 {
  background-color: #4FC2F8 !important;
}
.bg-color-8 {
  background-color: #90A4AE !important;
}
.bg-color-9 {
  background-color: #2196F3 !important;
}
.bg-color-10 {
  background-color: #FE5722 !important;
}
.bg-color-11 {
  background-color: #FFC107 !important;
}
.bg-color-12 {
  background-color: #FF4181 !important;
}
.bg-color-13 {
  background-color: #E9EBF0 !important;
}
