/**
 * eadmin / www.eadmin.net
 * 
 * 通用样式
 */
/**
 * eadmin / www.eadmin.net
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 宽度高度设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
/**
 * ================= 重置 ==================
 */
body {
  background: #151935;
  font-size: 12px;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  font-size: 12px;
  color: #B1b1b1;
  text-decoration: none;
  transition: color 0.2s linear;
}
a:hover {
  color: #FFF;
  transition: color 0.2s linear;
}
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
  text-align: initial;
}
td {
  padding: 0;
}
/**
 * ================= 浮动 ==================
 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/**
 * ================= 外边距 ==================
 */
.ma {
  margin: 0 auto;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.m25 {
  margin: 25px;
}
.m30 {
  margin: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
/**
 * ================= 内边距 ==================
 */
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
/**
 * ================= 宽度 ==================
 */
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w55 {
  width: 55%;
}
.w60 {
  width: 60%;
}
.w65 {
  width: 65%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
  width: 90%;
}
.w95 {
  width: 95%;
}
.w100 {
  width: 100%;
}
/**
 * ================= 字体大小 ==================
 */
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
/**
 * ================= 圆角 ==================
 */
.icon {
  border-radius: 50px;
  border: 2px #2E98FE solid;
}
.r2 {
  border-radius: 2px;
}
.r4 {
  border-radius: 4px;
}
.r6 {
  border-radius: 6px;
}
.r8 {
  border-radius: 8px;
}
.r10 {
  border-radius: 10px;
}
/**
 * ================= 文本 ==================
 */
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
/**
 * ================= 旋转 ==================
 */
.rotate {
  transform-origin: center center;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
.rotate-180 {
  transform-origin: center center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
}
/**
 * ================= 颜色 ==================
 */
.color-success {
  color: #36D144;
}
.color-error {
  color: #ff2727;
}
.color-warning {
  color: #D1C31D;
}
/**
 * ================= 常用 ==================
 */
.dn {
  display: none;
}
.clear {
  clear: both;
}
/**
 * ================= 状态 ==================
 */
.status {
  margin-right: 10px;
}
.status i {
  border-radius: 50px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}
.status .status-0 {
  background: #36D144;
  box-shadow: 0 0 3px #36D144;
}
.status .status-1 {
  background: #ff2727;
  box-shadow: 0 0 3px #ff2727;
}
.status .status-2 {
  background: #D1C31D;
  box-shadow: 0 0 3px #D1C31D;
}
.status .status-3 {
  background: #8368ee;
  box-shadow: 0 0 3px #8368ee;
}
.status .status-4 {
  background: #1dd0d7;
  box-shadow: 0 0 3px #1dd0d7;
}
.status .status-5 {
  background: #f67f1b;
  box-shadow: 0 0 3px #f67f1b;
}
.status .status-6 {
  background: #ff6384;
  box-shadow: 0 0 3px #ff6384;
}
.status .status-7 {
  background: #BBC5D8;
  box-shadow: 0 0 3px #BBC5D8;
}
.tag {
  border-radius: 6px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 12px;
  color: #FFF;
  outline: none;
  font-family: inherit;
  line-height: 1.15;
  margin: 5px 6px 5px 0;
}
.tag-0 {
  background: #36D144;
}
.tag-1 {
  background: #ff2727;
}
.tag-2 {
  background: #D1C31D;
}
.tag-3 {
  background: #8368ee;
}
.tag-4 {
  background: #1dd0d7;
}
.tag-5 {
  background: #f67f1b;
}
.tag-6 {
  background: #ff6384;
}
.tag-7 {
  background: #BBC5D8;
}
/**
 * ================= 选项卡 ==================
 */
.tab {
  margin-top: 30px;
}
.tab-module-1 span,
.tab-module-2 span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.tab-module-1 span i,
.tab-module-2 span i {
  margin-right: 6px;
}
.tab-module-1 {
  padding-left: 10px;
  border-bottom: 1px #30375B solid;
}
.tab-module-1 span {
  color: #B1b1b1;
}
.tab-module-1 .active {
  transition: color 0.2s linear;
  color: #FFF;
}
.tab-module-1 .active div {
  border-radius: 50px;
  transition: background 0.2s linear;
  width: 14px;
  height: 2px;
  background-color: #2E98FE;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
}
.tab-module-2 {
  text-align: center;
}
.tab-module-2 .tab-box {
  border-radius: 50px;
  box-shadow: #131630 0px 0px 10px;
  background: #131630;
  display: inline-block;
  padding: 4px;
}
.tab-module-2 .tab-box span {
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 0 25px;
}
.tab-module-2 .tab-box .active {
  border-radius: 50px;
  transition: background 0.2s linear;
  background: #2E98FE;
}
.tab-panel {
  margin-top: 20px;
  display: none;
}
