/**
 * eadmin / www.eadmin.net
 * 
 * 容器
 */
/**
 * eadmin / www.eadmin.net
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 宽度高度设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
#container {
  padding: 20px 100px;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.title-bar {
  border-left: 5px solid #0084FF;
  padding-left: 10px;
  width: 100%;
  color: #B1b1b1;
  font-size: 14px;
  margin-bottom: 10px;
}
.block-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  cursor: default;
}
.block-box .block {
  border-radius: 4px;
  box-shadow: #131630 0px 0px 10px;
  transition: background-color 0.2s linear;
  padding: 20px;
  background: #1C2340;
  color: #FFF;
}
.block-box .hover {
  cursor: pointer;
}
.block-box .hover:hover {
  transition: background-color 0.2s linear;
  background: #0084FF;
}
.ps {
  overflow: hidden;
  overflow-anchor: none;
  touch-action: auto;
}
.ps__rail-x {
  display: none;
  opacity: 0.4;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 10px;
  bottom: 4px;
  position: absolute;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 4px;
  right: 4px;
  position: absolute;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 0.6;
}
.ps__thumb-x {
  background-color: #4E5675;
  border-radius: 50px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 10px;
  bottom: 0px;
  position: absolute;
}
.ps__thumb-y {
  box-shadow: #131630 0px 0px 10px;
  background-color: #4E5675;
  border-radius: 50px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 4px;
  right: 0px;
  position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #4E5675;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #4E5675;
}
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
