/**
 * eadmin / www.eadmin.net
 * 
 * 弹窗类
 */
/**
 * eadmin / www.eadmin.net
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 宽度高度设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
.mask {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.tips {
  box-shadow: #000000 0px 0px 4px;
  border-radius: 4px;
  position: absolute;
  left: -9999px;
  top: -9999px;
  background: #000000;
  padding: 10px 15px;
  color: #B1b1b1;
  cursor: default;
  max-width: 260px;
  min-width: 44px;
  line-height: 20px;
  z-index: 9999;
}
.tips .tips-arrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.tips .down {
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
  border-top-color: #000000;
}
.tips .top {
  left: 50%;
  margin-left: -5px;
  top: -10px;
  border-bottom-color: #000000;
}
.tips .right {
  top: 50%;
  margin-top: -5px;
  right: -10px;
  border-left-color: #000000;
}
.tips .left {
  top: 50%;
  margin-top: -5px;
  left: -10px;
  border-right-color: #000000;
}
.datepicker {
  border-radius: 4px;
  box-shadow: #131630 0px 0px 10px;
  width: auto;
  position: absolute;
  border: 1px #30375B solid;
  background: #232B4C;
  z-index: 9999;
  padding: 0 10px 5px 10px;
  outline: none;
}
.datepicker .header,
.datepicker .footer {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.datepicker .header span,
.datepicker .footer span {
  transition: color 0.2s linear;
  color: #B1b1b1;
  text-align: center;
}
.datepicker .header span:hover,
.datepicker .footer span:hover {
  transition: color 0.2s linear;
  color: #0084FF;
}
.datepicker .header i,
.datepicker .footer i {
  width: 24px;
  height: 24px;
  font-size: 16px;
}
.datepicker .header .font,
.datepicker .footer .font {
  color: #FFF;
}
.datepicker .header .font:hover,
.datepicker .footer .font:hover {
  color: #0084FF;
}
.datepicker .header .confirm,
.datepicker .footer .confirm {
  position: relative;
}
.datepicker .header .confirm button,
.datepicker .footer .confirm button {
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 0;
  margin-left: 2px;
}
.datepicker .header .not-allow,
.datepicker .footer .not-allow {
  color: #BBC5D8;
  cursor: not-allowed;
}
.datepicker .header .not-allow:hover,
.datepicker .footer .not-allow:hover {
  color: #BBC5D8;
}
.datepicker .body {
  width: 232px;
}
.datepicker .body span {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.datepicker .body .next {
  color: #BBC5D8;
  margin-bottom: 3px;
}
.datepicker .week,
.datepicker .day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.datepicker .week {
  color: #BBC5D8;
}
.datepicker .week span {
  cursor: default;
}
.datepicker .day span:not(.next) {
  border-radius: 2px;
  transition: background 0.2s linear;
  position: relative;
  color: #FFF;
  margin-bottom: 3px;
}
.datepicker .day span:not(.next):hover {
  transition: background 0.2s linear;
  background: #4E5675;
}
.datepicker .day span:not(.next) div {
  border-radius: 50px;
  width: 5px;
  height: 5px;
  position: absolute;
  background: #0084FF;
  right: 2px;
  top: 2px;
}
.datepicker .day span.current {
  box-shadow: #131630 0px 0px 10px;
  background: #0084FF;
}
.datepicker .day span.current div {
  background: #FFF;
}
.datepicker .day span.current:hover {
  background: #0084FF;
}
.datepicker .y-m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.datepicker .y-m div {
  border-radius: 2px;
  transition: background 0.2s linear;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 5px;
  color: #FFF;
}
.datepicker .y-m div:hover {
  transition: background 0.2s linear;
  background: #4E5675;
}
.datepicker .y-m .active {
  background: #4E5675;
}
.datepicker .picker-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.datepicker .picker-time ul {
  margin-right: 2%;
  width: 31%;
  height: 228px;
  padding-bottom: 1px;
  position: relative;
}
.datepicker .picker-time ul li {
  border-radius: 2px;
  transition: background 0.2s linear;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  margin-top: 2px;
}
.datepicker .picker-time ul li:not(.current):hover {
  transition: background 0.2s linear;
  background: #4E5675;
}
.datepicker .picker-time ul .current {
  background: #4E5675;
}
.datepicker .picker-time ul .ps__rail-y {
  right: 0;
}
.datepicker .quick {
  padding: 0 6px;
  color: #FFF;
  border-bottom: 1px #2F365A solid;
}
.datepicker .quick span {
  border-radius: 2px;
  transition: background 0.2s linear;
  padding: 5px 10px;
  margin: 6px 0;
}
.datepicker .quick span.title {
  color: #BBC5D8;
  padding-left: 0;
}
.datepicker .quick span.current {
  box-shadow: #131630 0px 0px 10px;
  background: #0084FF;
}
.datepicker .footer {
  height: 30px;
}
.datepicker .clear {
  clear: both;
}
.datepicker .dn {
  display: none;
}
.datepicker span {
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.citypicker {
  border-radius: 4px;
  box-shadow: #131630 0px 0px 10px;
  position: absolute;
  border: 1px #30375B solid;
  background: #232B4C;
  z-index: 9999;
  padding: 5px 10px;
  outline: none;
}
.citypicker span {
  border-radius: 4px;
  transition: background 0.2s linear;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 6px 0;
}
.citypicker span:not(.current):not(.title):not(.not-allow):hover {
  transition: background 0.2s linear;
  background: #4E5675;
}
.citypicker .title {
  color: #BBC5D8;
  padding-left: 5px;
}
.citypicker .header {
  margin: 5px 0;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.citypicker .header span {
  width: 40px;
}
.citypicker .body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.citypicker .body:after {
  content: "";
  flex: auto;
}
.citypicker .body span {
  width: 60px;
  margin: 2px 15px;
  color: #FFF;
}
.citypicker .quick,
.citypicker .vert {
  max-height: 240px;
  position: relative;
}
.citypicker .quick span,
.citypicker .vert span {
  width: 100%;
  color: #FFF;
  text-align: left;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 5px;
}
.citypicker .quick .ps__rail-y,
.citypicker .vert .ps__rail-y {
  right: 0;
}
.citypicker .quick .current,
.citypicker .vert .current {
  background: #4E5675;
}
.citypicker .vert {
  height: 200px;
  min-width: 120px;
  float: left;
}
.citypicker .vert span {
  display: block;
}
.citypicker .vert span i {
  float: right;
  margin: 0 2px 0 5px;
}
.citypicker .current {
  color: #FFF;
  background: #0084FF;
}
.citypicker .dn {
  display: none;
}
.window {
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  position: fixed;
  border: 1px #30375B solid;
  background: #1C2340;
  z-index: 9998;
  padding: 5px 0px 20px 15px;
  top: 50%;
  left: 50%;
}
.window .title {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  margin: 0 25px 10px 0;
  font-size: 14px;
}
.window .window-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B1b1b1;
}
.window .window-close {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 16px;
  height: 16px;
}
.window .window-close i {
  transition: color 0.2s linear;
  position: absolute;
  font-size: 16px;
  cursor: pointer;
  color: #ff2727;
}
.window .window-close i:hover {
  transition: color 0.2s linear;
  color: #ff5a5a;
}
.window .body {
  position: relative;
  overflow: hidden;
  padding-right: 15px;
}
.window .body .block {
  padding: 0;
  box-shadow: none;
}
.window .body .form-group .title {
  margin-bottom: 5px;
}
.window .btnbar {
  margin: 5px 15px 10px 0;
  text-align: right;
}
.window .btnbar button {
  margin-right: 0;
  margin-left: 10px;
}
.popup {
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  position: fixed;
  border: 1px #30375B solid;
  background: #232B4C;
  z-index: 9999;
  padding: 5px 10px;
  top: 30%;
  left: 50%;
  text-align: center;
  width: 260px;
  margin: 0 0 0 -130px;
}
.popup span {
  display: block;
}
.popup i {
  font-size: 36px;
}
.popup .title {
  color: #B1b1b1;
  font-size: 18px;
  margin: 15px 0;
}
.popup .txt {
  color: #FFF;
  margin: 10px 0;
  line-height: 20px;
}
.popup .btn {
  margin: 15px 0;
}
.popup .btn button {
  margin: 0;
}
.message {
  border-radius: 4px;
  box-shadow: #000000 0px 0px 15px;
  position: fixed;
  background: #000000;
  z-index: 9999;
  padding: 10px 15px;
  left: 50%;
  color: #FFF;
}
.message i {
  margin-right: 8px;
  font-size: 14px;
}
#notice {
  position: fixed;
  right: 10px;
  width: 300px;
  z-index: 9999;
}
.notice {
  border-radius: 4px;
  box-shadow: #000000 0px 0px 15px;
  background: #000000;
  padding: 15px;
  width: 100%;
  position: relative;
  color: #FFF;
  margin-bottom: 10px;
}
.notice i {
  position: absolute;
}
.notice .desc {
  color: #B1b1b1;
  line-height: 18px;
  margin-top: 5px;
}
.notice .close {
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.notice .title-icon {
  font-size: 24px;
}
.notice .href {
  margin: 10px 0 5px 0;
}
.notice .href a {
  color: #0084FF;
  font-weight: bold;
}
