.dropzone{
	min-height: 120px;
	border:2px dashed #30375B;
	background:#232B4C;
	padding:10px;
    border-radius: 4px;
    position: relative;
    transition:border-color 0.2s linear;
}
.dropzone:hover{
    border-color: #0084FF;
    transition:border-color 0.2s linear;
}
.dropzone .dz-message{
    font-size: 14px;
}
.dropzone .dz-message i{
    font-size:42px;
    margin:0 auto;
    display:block;
    margin-bottom:10px;
}
.dropzone.dz-clickable{
    cursor: pointer;
}
.dropzone.dz-clickable:not(.dz-remove){
	cursor: default;
}
.dropzone.dz-clickable .dz-message, 
.dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone.dz-started .dz-message{
    display: none;
}
.dropzone .dz-message{
    text-align: center;
    margin: 2em 0;
}
.dropzone .dz-preview{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    min-height: 110px;
}
.dropzone .dz-preview .dz-success-i,
.dropzone .dz-preview .dz-error-i,
.dropzone .dz-preview .dz-remove-i{
	opacity: 0;
	z-index: 500;
	position: absolute;
	display: block;
	bottom:6px;
    right:6px;
    margin-right: 0;
	font-size:18px;
}
.dropzone .dz-preview .dz-success-i{
	color:#06C270;
}
.dropzone .dz-preview .dz-error-i{
	color:#FF3B3B;
}
.dropzone .dz-preview .dz-remove-i{
	opacity: 1;
	color:#FFF;
	cursor: pointer;
}
.dropzone .dz-error .dz-error-i{
	opacity: 1;
}
.dropzone .dz-success .dz-success-i{
	opacity: 1;
}
.dropzone .dz-complete .dz-remove-i{
	opacity: 0;
}
.dropzone .dz-preview .dz-image{
    overflow: hidden;
    width: 110px;
    height: 110px;
    position: relative;
    display: block;
    z-index: 10;
}
.dropzone .dz-preview .dz-image img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius:5px;
}
.dropzone .dz-button{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    display: none;
    border-top: 1px #2F365A solid;
    padding: 10px 10px 0 10px;
    width: 100%;
    overflow: hidden;
    height: 40px;
    line-height: 30px;
}
.dropzone .dz-button button{
    float: right;
}
.dropzone .dz-button span{
    float: left;
}
.dropzone .dz-preview.dz-processing .dz-progress{
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress{
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress{
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite; 
}
.dropzone .dz-preview .dz-progress{
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 4px;
    top: 0;
    width: 100%;
    -webkit-transform: scale(1);
    overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload{
	background: #0084FF;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}