/**
 * eadmin / www.eadmin.net
 * 
 * 表单
 */
/**
 * eadmin / www.eadmin.net
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 宽度高度设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
input,
textarea {
  border-radius: 4px;
  padding: 10px;
  border: 1px #30375B solid;
  background: #232B4C;
  color: #FFF;
  width: 100%;
}
input:not(.color-input),
textarea:not(.color-input) {
  transition: border-color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
}
input:focus,
textarea:focus {
  transition: border-color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
  box-shadow: #131630 0px 0px 10px;
  outline: none;
  border-color: #0084FF;
  background: #2a3560;
}
input:disabled,
textarea:disabled {
  cursor: not-allowed;
  background: #BBC5D8;
  border-color: #BBC5D8;
}
input:disabled::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  color: #586273;
}
input:disabled:-moz-placeholder,
textarea:disabled::-webkit-input-placeholder {
  color: #586273;
}
input:disabled::-moz-placeholder,
textarea:disabled::-webkit-input-placeholder {
  color: #586273;
}
input:disabled:-ms-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  color: #586273;
}
label {
  position: relative;
}
textarea {
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
}
input[type="radio"],
input[type="checkbox"],
select {
  border: 0;
  position: absolute;
  left: -9999px;
}
select {
  min-width: 120px;
}
.no-resize {
  resize: none;
}
.icon-input i:not(.add):not(.cut),
.icon-input-right i:not(.add):not(.cut),
.success-input i:not(.add):not(.cut),
.error-input i:not(.add):not(.cut),
.notice-input i:not(.add):not(.cut) {
  position: absolute;
  top: 2px;
}
.icon-input:not(.error-input):not(.success-input):not(.notice-input) input {
  padding-left: 24px;
}
.icon-input:not(.error-input):not(.success-input):not(.notice-input) i {
  left: 10px;
}
.icon-input-right input {
  padding-right: 24px;
}
.icon-input-right i {
  right: 10px;
}
.success-input .fa:not(.add):not(.cut),
.error-input .fa:not(.add):not(.cut),
.notice-input .fa:not(.add):not(.cut) {
  font-size: 16px;
}
.success-input input,
.error-input input,
.notice-input input {
  padding-right: 24px;
}
.success-input i:not(.add):not(.cut),
.error-input i:not(.add):not(.cut),
.notice-input i:not(.add):not(.cut) {
  right: 10px;
  top: 0;
}
.success-input input,
.success-input textarea {
  border-color: #36D144;
  background-color: #234824;
}
.success-input input:focus,
.success-input textarea:focus {
  background: #234824;
}
.success-input i:not(.add):not(.cut) {
  color: #36D144;
}
.error-input input,
.error-input textarea {
  border-color: #ff2727;
  background: #482323;
}
.error-input input:focus,
.error-input textarea:focus {
  background: #482323;
}
.error-input i:not(.add):not(.cut) {
  color: #ff2727;
}
.notice-input input,
.notice-input textarea {
  border-color: #D1C31D;
  background: #4c4728;
}
.notice-input input:focus,
.notice-input textarea:focus {
  background: #4c4728;
}
.notice-input i:not(.add):not(.cut) {
  color: #D1C31D;
}
.form-group {
  position: relative;
  font-size: 12px;
}
.form-group > span {
  display: block;
}
.form-group textarea {
  line-height: 1.5;
}
.form-group .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.form-group .note {
  margin-top: 8px;
  color: #999;
}
.form-group .error {
  color: #ff2727;
}
.form-group .font-num {
  bottom: 10px;
  right: 10px;
  position: absolute;
}
.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.input-group input {
  width: 1%;
  flex: 1 1 auto;
}
.input-group input:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group input:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > span {
  padding: 10px;
  border: 1px #30375B solid;
}
.input-group .prepend {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-group .append,
.input-group .num-add-cut {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group .num-add-cut {
  position: relative;
  padding: 10px 12px;
}
.input-group .num-add-cut i {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 50%;
  cursor: pointer;
}
.input-group .num-add-cut .add {
  top: 0;
  border-bottom: 1px #30375B solid;
}
.input-group .num-add-cut .cut {
  bottom: 0;
  line-height: 1.4;
}
.input-group .num-add-cut .disabled {
  color: #BBC5D8;
  cursor: not-allowed;
}
.radio,
.radio-disabled,
.radio-checked,
.radio-disabled-checked,
.checkbox,
.checkbox-disabled,
.checkbox-checked,
.checkbox-disabled-checked {
  margin-right: 10px;
  padding: 7px 0;
  display: inline-block;
}
.radio i,
.radio-disabled i,
.radio-checked i,
.radio-disabled-checked i,
.checkbox i,
.checkbox-disabled i,
.checkbox-checked i,
.checkbox-disabled-checked i {
  vertical-align: middle;
  font-size: 15px;
  width: 14px;
}
.radio,
.checkbox,
.checkbox-checked {
  cursor: pointer;
}
.radio-disabled,
.radio-disabled-checked,
.checkbox-disabled,
.checkbox-disabled-checked {
  color: #BBC5D8;
  cursor: not-allowed;
}
.radio i,
.checkbox i {
  transition: color 0.2s linear;
}
.radio-checked i,
.checkbox-checked i {
  transition: color 0.2s linear;
  color: #0084FF;
}
.select {
  border-radius: 4px;
  transition: border-color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
  padding: 10px;
  border: 1px #30375B solid;
  background: #232B4C;
  display: inline-block;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.select span {
  color: #B1b1b1;
}
.select i:not(.fa-spinner) {
  font-size: 14px;
  position: absolute;
  top: 34%;
  right: 8px;
}
.select .selected {
  color: #FFF;
}
.select-option {
  border-radius: 4px;
  box-shadow: #131630 0px 0px 10px;
  display: none;
  position: absolute;
  border: 1px #30375B solid;
  background: #232B4C;
  margin-top: 5px;
  outline: none;
  z-index: 9999;
  cursor: pointer;
}
.select-option ul {
  padding: 6px;
  position: relative;
  max-height: 240px;
}
.select-option ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.select-option ul li:hover {
  border-radius: 4px;
  background: #4E5675;
}
.select-option ul li:not(:last-child) {
  margin-bottom: 4px;
}
.select-option ul .active {
  border-radius: 4px;
  background: #4E5675;
}
.select-option .disabled {
  color: #BBC5D8;
  cursor: not-allowed;
}
.select-option .disabled:hover {
  background: #232B4C;
}
.select-disabled {
  cursor: not-allowed;
  background: #BBC5D8;
  border-color: #BBC5D8;
}
.select-disabled span {
  color: #586273;
}
.checkbox-switch {
  transition: background 0.2s linear;
  border-radius: 50px;
  background: #666;
  width: 44px;
  height: 22px;
  cursor: pointer;
  padding: 3px;
  display: inline-block;
}
.checkbox-switch span {
  transition: margin-left 0.2s linear;
  border-radius: 50px;
  background: #FFF;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.switch-open {
  transition: background 0.2s linear;
  background: #0084FF;
}
.switch-open span {
  box-shadow: #131630 0px 0px 10px;
  transition: margin-left 0.2s linear;
  margin-left: 22px;
}
.switch-disabled {
  cursor: not-allowed;
  background: #BBC5D8;
}
.slider {
  border-radius: 6px;
  height: 4px;
  background: #232B4C;
  cursor: pointer;
  position: relative;
  margin: 30px 0 5px 0;
}
.slider .slider-bar {
  border-radius: 4px;
  background: -moz-linear-gradient(left, #66b5ff, #0084FF);
  background: -webkit-linear-gradient(left, #66b5ff, #0084FF);
  background: -o-linear-gradient(left, #66b5ff, #0084FF);
  position: absolute;
  width: 0;
  height: 4px;
}
.slider .slider-btn {
  transition: box-shadow 0.2s linear;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  cursor: grab;
  position: absolute;
  background: #FFF;
  border: 3px #0084FF solid;
  z-index: 999;
  left: 0;
  top: -6px;
}
.slider .slider-btn:hover {
  transition: box-shadow 0.2s linear;
  box-shadow: #131630 0px 0px 10px;
}
.slider .step {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: #727B9B;
  position: absolute;
}
.slider-disabled {
  background: #BBC5D8;
  cursor: not-allowed;
}
.slider-disabled .slider-bar {
  background: #999;
}
.slider-disabled .slider-btn {
  border-color: #999;
  cursor: not-allowed;
}
.slider-disabled .slider-btn:hover {
  box-shadow: #131630 0px 0px 0px;
}
.transfer-box {
  position: relative;
}
.transfer-box-list {
  border-radius: 4px;
  width: 180px;
  height: 260px;
  border: 1px #2F365A solid;
  display: inline-block;
  padding-top: 30px;
  position: relative;
  vertical-align: middle;
}
.transfer-box-list .transfer-header {
  background: #232B4C;
  border-bottom: 1px #2F365A solid;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 16px;
  height: 30px;
  line-height: 30px;
}
.transfer-box-list .transfer-header label {
  padding: 0;
}
.transfer-box-list span {
  float: right;
}
.transfer-body {
  position: relative;
  overflow: hidden;
  margin-top: 1px;
}
.transfer-body ul {
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.transfer-body li {
  border-radius: 4px;
  padding: 0 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transfer-body li:hover {
  background: #4E5675;
}
.transfer-body .disabled {
  cursor: not-allowed;
}
.transfer-body .disabled:hover {
  background: none;
}
.transfer-search {
  width: 100%;
  padding: 0 4px;
  position: absolute;
  top: 35px;
  left: 0;
  margin-bottom: 4px;
}
.transfer-search input {
  padding: 6px;
}
.transfer-body-search {
  margin-top: 32px;
}
.transfer-operation {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}
.transfer-operation button {
  border-radius: 4px;
  padding: 6px 12px;
  display: block;
  margin: 0;
}
.transfer-operation button:first-child {
  margin-bottom: 12px;
}
.rate {
  display: inline-block;
}
.rate .star {
  transition: color 0.2s linear;
  font-size: 16px;
  margin-right: 8px;
  color: #B1b1b1;
  cursor: pointer;
}
.rate .full {
  transition: color 0.2s linear;
  color: #D1C31D;
}
.rate .disabled {
  cursor: not-allowed;
  color: #BBC5D8;
}
.colorpicker {
  overflow: hidden;
}
.colorpicker > div {
  display: inline;
  width: 28px;
  height: 28px;
  float: left;
  position: relative;
  cursor: pointer;
}
.colorpicker > div .color {
  border-radius: 4px;
  width: 22px;
  height: 22px;
  margin: 3px 6px 3px 0;
  position: absolute;
}
.colorpicker > div i {
  position: absolute;
  font-size: 12px;
  color: #FFF;
  top: 8px;
  left: 5px;
  display: none;
}
