/**
 * eadmin / www.eadmin.net
 * 
 * 头部导航文件
 */
/**
 * eadmin / www.eadmin.net
 * 
 * 全局配置
 */
/**
 * ================= 颜色设置 ==================
 */
/**
 * ================= 字体设置 ==================
 */
/**
 * ================= 宽度高度设置 ==================
 */
/**
 * ================= 通用方法 ==================
 */
header {
  width: 100%;
}
header .main-nav {
  height: 50px;
  background: #151935;
  border-bottom: 1px #000000 solid;
  display: flex;
  font-weight: bold;
}
header .main-nav > div {
  height: 50px;
  line-height: 50px;
  padding: 0;
}
header .main-nav > div:first-child {
  padding-left: 100px;
}
header .main-nav > div:last-child {
  color: #B1b1b1;
  text-align: right;
  padding-right: 20px;
}
header .main-nav > div:last-child img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 0;
}
header .main-nav .nav li {
  float: left;
  padding: 0 15px;
}
header .main-nav .nav .active {
  color: #FFF;
  font-size: 14px;
}
header .main-nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
}
header .main-nav .logo em {
  color: #0084FF;
  font-style: normal;
  font-size: 32px;
}
header .sub-nav {
  height: 41px;
  background: #1C2340;
  display: flex;
  border-bottom: 1px #000000 solid;
}
header .sub-nav > div {
  height: 40px;
  line-height: 40px;
  padding: 0;
}
header .sub-nav li {
  float: left;
  text-align: center;
  padding: 0 15px;
  margin-right: 10px;
  font-weight: bold;
}
header .sub-nav .active li {
  background: #0084FF;
  color: #FFF;
}
